@use "@styles/helpers" as helpers;

.button {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding-block: 8px;
  padding-inline: 16px;
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  line-height: 24px;
  color: var(--text-color);
  text-align: center;
  cursor: pointer;
  user-select: none;
  outline: none;
  background-color: var(--background-color);
  border: 0;
  border-radius: 100px;

  &__icon {
    @include helpers.square(24px);

    flex-shrink: 0;
    fill: none;
    stroke: var(--color-current);
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &--primary {
    --text-color: var(--button-text-color-primary);
    --text-color-hover: var(--button-text-color-primary-hover);
    --background-color: var(--button-bg-primary);
    --background-color-hover: var(--button-bg-primary-hover);
  }

  @include helpers.hover {
    --text-color: var(--text-color-hover);
    --background-color: var(--background-color-hover);
  }
}
